@model MvcWorkshops.Controllers.ProductIndexViewModel
<h1>All products</h1>
<ul class="list-inline">
    @foreach (var product in Model.Products)
    {
        <li>
            <div class="product thumbnail">
                <h4><a href="@Url.Action("AddToShoppingCart", "ShoppingCart", new { id = @product.Id })">@product.Name</a></h4>
                <img src="@Url.Content("/Content/images/product.jpg")" alt="@product.ImageUrl">
            </div>
        </li>
    }
</ul>
@Html.Partial("_Pagination", Model.Paging)
@Html.Action("ActionMethod")